*{
    margin: 0 ;
    font-family: sans-serif;
}
.banner{
    height: 95vh;
    background-image: url(../static/css/music.jpg);
    background-size: cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

li {
    list-style-type: none;
    margin-top: 3vh;
    margin-left: 40%;
}

h4 {
    font-style: italic;
    text-align: center;
    margin-top: 3vh;
}

